* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #16e9d7;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.heading p {
  display: none;
}
.heading h1 {
  font-size: 40px;
}

@media screen and (max-width: 1440px) {
  body {
    background-color: #3add3a;
  }

  .heading p::after {
    content: "1440px";
  }
  .heading h1 {
    font-size: 50px;
  }
  .heading p {
    margin-top: 30px;
    display: block;
    font-size: 40px;
    font-weight: 400;
  }
}
@media screen and (max-width: 1024px) {
  body {
    background-color: #e4bd10;
  }
  .heading h1 {
    font-size: 51px;
  }
  .heading p::after {
    content: "1024px";
  }

  .heading p {
    margin-top: 30px;
    display: block;
    font-size: 40px;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #0ce2e2;
  }
  .heading h1 {
    font-size: 50px;
    text-align: center;
  }
  .heading p::after {
    content: "768px";
  }

  .heading p {
    margin-top: 30px;
    display: block;
    font-size: 40px;
    font-weight: 400;
  }
}

@media screen and (max-width: 425px) {
  body {
    background-color: #dd0b51;
  }
  .heading p::after {
    content: "425px";
  }

  .heading p {
    margin-top: 30px;
    display: block;
    font-size: 30px;
    font-weight: 400;
  }
}